.recipe-img {
  position: relative;
  width: auto;
  height: 200px;
  overflow: hidden;
}

.recipe-title-card {
  background-color: white;
  display: inline-block;
  padding-right: 0px;
  padding-left: 0px;
  height: 200px;
}

.recipe-cooking-card {
  background-color: white;
  display: table-cell;
  padding-right: 0px;
  padding-left: 15px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.vertical-line {
  border-right: 2px solid grey;
  width: 200px;
}

.remove-padding {
  padding-left: 0px;
}

.row-height {
  position: relative;
}

.box-set:before,
.box-set:after {
  content: "";
  display: table;
}
.box-set:after {
  clear: both;
}
.box-set {
  *zoom: 1;
  background-color: white;
}

.color-fill {
  background-color: white;
  margin-top: 25px;
  height: 100%;
  overflow: hidden;
  padding-bottom: 15px;
}
