a {
  color: #262626;
}

.search-box {
  width: 150px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-size: 16px;
}

.search-box:focus {
  width: 100%;
}

.navbar-no-margin {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

body {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #222;
}

.make-wide {
  width: 100%
}

.dark-font {
  color: black;
}

.logo-img {
  width: auto;
  height: 65px;
}
