.carousel-image img {
  width: auto;
  height: auto;
  margin: 0 auto;
}

.carousel-inner {
  width: 100%;
  height: 40vh;
}

@media only screen and (max-width: 560px) {
    .carousel-inner {
    width: 100%;
    height: 30vh;
  }
}

.white-bg {
  background-color: #eee;
}

.center {
    margin: auto;
    margin-top: 20px;
    width: 85%;
}

.thumbnail-size {
  min-height: 65px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
}

.caption {
  height: 165px;
  min-height: 155px;

}
