textarea {
  width: 100%;
}

.thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.facts {
  padding-left: 0px;
}

.number-input {
  width: 140px;
}

.amount-input {
  width: 50px;
}

.ingredient-list {
  margin-right: 10px;
}
